*{
	padding:0; 
	margin:0; 
	box-sizing: border-box; 
}
html, body, .root, .app{
	width: 100%;
	height: 100%;
}

.f-left{ float: left; }
.f-right{ float: right; }
.clearfix{ zoom: 1; }
.clearfix:after{
	display: block;
	clear: both;
	content: "";
	height: 0;
}

ul,li{ list-style: none; }
a{
 	text-decoration: none;
 	color: #000; 
}
